*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(28, 28, 29);
}
.header{
     width: 100%; 
    position: fixed;
    top: 0;
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 39, 40);
   
    height: 60px;
    

}
.sreach-bar input {
    border-radius:20px ;
    padding: 8px;
    outline: none;
    border: none;
    background-color: rgb(51, 51, 52);

}
.head-center{
    display: flex;
    column-gap: 45px;
    align-items: center;
    margin-left: 90px;
    
}
.left-bar{
    display: flex;
    align-items: center;
    column-gap: 8px;   

}
.left-1{
    width: 20%;
  height: 100%;
  color: #fff;
  position: fixed;
  left: 0px;
  top: 60px;
}

.list-bar p:hover{
    color: #808080d3;
    transition: .2s ease-in-out;
}
.list-bar p{
    /* font-weight: 600; */
    font-size:18px ;
    margin-bottom: 8px;
    color: white;
    
   
}
.list-bar {
    padding-left:20px ;
    margin-top: 10px;
    
}
.right-bar ul li{
    list-style: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
    /* margin: 0; */
    column-gap: 10px;
    
}
.right-bar{
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 65px;
    color: white;
   
    cursor: pointer;
}
.sreach{
    display: flex ;
     justify-content: space-between; 
         align-items: center;
         padding: 8px;
         
}
.sreach p{
    font-size: 22px;
    font-weight:600;
}

.Icons{
    
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}
.Icons:hover{
    background-color: rgba(128, 128, 128, 0.164);
}
.Icons-1{
    
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
}
.Icons-1:hover{
    background-color: rgba(128, 128, 128, 0.164);
}